<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="A Guy Called Gary" />
    <meta property="og:description" content="Brand, Digital & Design consultant" />
    <meta property="og:type" content="website:portfolio" /> 
    <meta property="og:url" content="http://aguycalledgary.co/" />
    <meta property="og:image" content="http://aguycalledgary.co/assets/img/website.jpg" />
    <meta name="p:domain_verify" content="7b94db75bf812c3ddd6759339df423e0"/>
    <title>A Guy Called Gary</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
   <div id="preloader" style="display: block;">
      <div id="status" style="display: block;"></div>
   </div>