    {{> header}}
		<!-- WIP Menu Off-canvas
  <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
    
  </div> -->
  <div class="off-canvas-content" data-off-canvas-content> <!-- Your page content lives here -->

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    	
		<footer class="section fp-auto-height" role="contentinfo">
				
     <!-- INSTAGRAM -->
		<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
		<div id="insta"></div> 
			<div class="row">
				<div class="medium-8 medium-push-2 column text-center"> 
					<div class="social paddingAll1">
						<a href="https://www.instagram.com/mydeadpixel"><i class="fa fa-3 fa-instagram" aria-hidden="true"></i></a>
						<a href="https://uk.pinterest.com/mydeadpixel/"><i class="fa fa-3 fa-pinterest" aria-hidden="true"></i></a>		
						<a href="https://uk.linkedin.com/in/gary-leahy-532b485"><i class="fa fa-3 fa-linkedin" aria-hidden="true"></i></a>
						<a href="https://vimeo.com/aguycalledgary"><i class="fa fa-3 fa-vimeo last" aria-hidden="true"></i></a>
					</div>
					<p>&copy; Copyright Gary Leahy 2017. Powered by TEA</p>
				</div> 
			</div>
		</footer>
	</div>
</div>   <!-- Your page content lives here -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
	<script src="{{root}}assets/js/vendor/fullpage.js"></script>
	<script src="{{root}}assets/js/app.js"></script>
	<!--<script src="{{root}}assets/js/vendor/jquery.js"></script>
	<script src="{{root}}assets/js/vendor/onview.js"></script>-->
	<script src="https://use.typekit.net/cgr4jxm.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

  </body>
</html>